/* #fix{
position: absolute; bottom: 0; right: 0;

} */

.button2 {
    background-color: rgb(253, 0, 0);
    color: rgb(252, 250, 250);
    border: 2px solid rgb(253, 8, 8);
}

.button2:hover {
    background-color: rgb(255, 254, 254);
    color: rgb(255, 3, 3);
}
nav{overflow-x: hidden;}
