<!-- <div class="container">
        <div class="row shrink">
                <div class="form-group" style="margin-top:70px">
                    <div class="col-lg-6" >
                        <input type="text" [(ngModel)]="searchText" 
                                      class="form-control" placeholder="Search By Location" style="height:40px" />
                   </div>
               </div>  
        
        <br/>
        <br/>
        <br/>

            <div style="margin-top:30px; padding:0%;"  class= "gallery_product col-lg-2 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of value | location: searchText">
                 <div class="mdl-card__title mdl-card--expand"  [routerLink] = "['/restuarant', item.Name]" >
                     <img class="img-fluid img-thumbnail " src={{item.img}}> 
                </div>
       

               <h6> {{item.name}} {{item.price}}  </h6>
           
           </div>
    </div>
</div> -->
<div class="row">
    <div *ngFor="let item of value ">
        <div class="col-xs-4 padding-10">
            <md-card class="card-container-phone">
                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title>
                        <span class="badge"></span> <strong>{{item.name}}</strong>    
                    </md-card-title>
                </md-card-header>

                <img width="220" height="220" class="image-align-center padding-bottom-10" src={{item.img}}/>
               
                <md-card-actions>
                    <div style="display: flex">
                        <span class="padding-right-5">Quantity: </span>
                        <input type="number" #quantity>
                    </div>
                    <h1 class="badge">${{item.price}} </h1>
                    <button (click)="addToCart(item,quantity.value)" class="btn btn-sm btn-primary" aria-label="Show an example snack-bar">Add to Cart</button>
                    
                </md-card-actions>
            </md-card>
        </div>