<div class="el">
<app-root></app-root>

<div class="bgimg-1">
  <div class="caption">
   <form class="navbar-form navbar-center">
   <h1>Delivers food in minutes</h1>
      <!-- <div class="form-group">
          
        <input type="text" class="form-control input-lg" placeholder="Street address, City, Zip">
      </div> -->
      <button type="submit" [routerLink]="['/restuarant']" class="btn btn-success btn-lg">Find Food</button>
    </form>
	
   <!-- <span class="border">SCROLL DOWN</span>-->
  </div>
</div>

  
<!-- <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;height:700px;text-align: justify"> -->
 <div class="row">
  <div id="section1" class="container-fluid" >
 <h2>Indian Food Everywhere </h2><br>
 <div class="col-xs-12">
    <div class="col-xs-4" style="text-align:center">

  <span class="glyphicon glyphicon-map-marker"></span>
 <h4><b>1. Enter your address</b></h4>
 <p class="one" align="justify">Use search box to discover your local restaurants. DesiDine2Go searches its network of delivery restaurants, and shows you a list of restaurants 
 that deliver to you. Delivery to your home, office or campus, or wherever you may be. </p>
 

</div>
<div class="col-xs-4" style="text-align:center" >
 
  <span class="glyphicon glyphicon-menu-hamburger"></span>
 <h4><b>2. Choose restaurant</b></h4>
 <p class="two" align="justify">Browse food delivery and restaurants menus, read reviews, and enjoy coupons and discounts. You can choose your favourite restaurant, by their distance from you, rating or by reviews left by other customers. </p>
 
 <!-- <button style="background-color:forestgreen;color:white;margin-top:25px;" >Sell Products</button>
<p style="margin-top:15px;" >Or</p>
 <span class="glyphicon glyphicon-phone-alt">  5858555555</span> -->

</div>
<div class="col-xs-4" style="text-align:center;">
  <span class="glyphicon glyphicon-cutlery"></span>
  <h4><b>3. Order your food!</b></h4>
  <p class="three" id="three" align="justify">View the menu, choose delicious items you like and place your order online. It's as easy as one, two, three! This is much better than ordering over the phone. Like we always say, "Don't be on hold, be online." </p>
  
 
  
</div>

</div>     

   <button id="btn" type="button"  class="btn btn-success btn-lg center-block">Order here</button>   
    
  </div>

</div>






<div class="bgimg-2">
  <div class="caption">
    <div class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></div>
  </div>
  
</div>
 <div class="row">
  <div id="section2" class="conatiner-fluid">
 
    <div class="col-xs-12">
      <div class="col-md-6">
          <div class="ani img-rounded" >
<h5>
  <span>D</span>
  <span>e</span>
  <span>a</span>
  <span>l</span>
   <span>s</span> <br>

  <span>w</span>
  <span>o</span>
  <span>o</span>
  <span>h</span>
  <span>o</span>
  <span>o</span>
  <span>!</span>
  </h5>
</div>
      </div><br><br>
<div class="row1">
     
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top img-fluid img-thumbnail" style="width:150px;height:150px" src="http://stcathys.com/blog/wp-content/uploads/2016/09/student-discount.jpg">
                    <div class="card card-block">
                        <h5 class="text-bold"><b>Student Discounts</b></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top img-fluid img-thumbnail" style="width:150px;height:150px" src="http://www.utdallas.edu/news/imgs/photos-2017-07/UTD-monogram-250-2017-07.jpg">
                    <div class="card card-block">
                        <h5 class="text-bold"><b>special discounts for UTD students</b></h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top img-fluid img-thumbnail" style="width:150px;height:150px; margin-top:-90px;" src="http://www.livingbetterat50.com/wp-content/uploads/2012/03/Sherri_Snelling_image_Food-Delivery-1_credits_Dreamstime.jpg">
                    <div class="card card-block">
                        <h5 class="text-bold"><b>free delivery for orders above 100$</b></h5>
                    </div>
                </div>
            </div>
           
               <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top img-fluid img-thumbnail" style="width:150px;height:150px; margin-top:-90px;" src="http://thenantaisgroup.com/wp-content/uploads/2015/08/CustomerService.png">
                    <div class="card card-block">
                        <h5 class="text-bold"><b>Best service guaranteed</b></h5>
                    </div>
                </div>
            </div>
           
           

</div>


</div>

</div> 
 
  
</div>
   


<!--<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
  </div>
    <div class="img1"><img src ="http://static1.uk.businessinsider.com/image/57625a769105844d018c9686-800/9%20recieve%20an%20notification%20when%20your%20food%20has%20arrived.png" width:"200px" height:"400px"></div>

</div>-->

<!--<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">COOL!</span>
  </div>
</div>-->
 <!-- <div id="footer" style="background-color:#333333">
            <div class="container">
              <div class="row">
                  <div class="col-md-12">
              
                <div class="footer_sub">
                    <h3>Our Story</h3>
                   
                </div>
                <div class="footer_sub_2">
                    <div class="container">
                      <div class="item1">
                        <h3>Specials</h3>
                        <ul>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                        </ul>
                    </div>
                      <div class="item2">
                        <h3>Restraunts</h3>
                        <ul>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                        </ul>
                    </div>
                </div>
                  </div>
                <div class="footer_sub_2">
                    
                        <h3>Social Links</h3>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Youtube</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkdin</a></li>
                            <li><a href="#">Blogger</a></li>
                            <li><a href="#">Digg</a></li>
                        </ul>
                 
                </div>
                      <hr>
                <div class="footer_sub_3">
                    
                        <h2>Subscribe Us</h2>
                        <input type="text" name="subs" placeholder="Write your e-mail" class="subs">
                        <input type="submit" name="submit_btn" value="Subscribe" class="sub_btn">
                        <p class="sub_p">Enter your e-mail id for get notification by us.</p>
                    
                </div>
            </div>
        </div>


        </div>
        </div> -->
     

<footer class="footer1">
<div class="container">

<div class="row"><!-- row -->
            
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Restaurants</h1>
                                
                                <ul>
                                	<li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>GODAVARI</a></li>
                                    <li><a  routerLink="/restuarant/Dwaraka" ><i class="fa fa-angle-double-right"></i>DWARAKA</a></li>
                                    <li><a  routerLink="/restuarant/Al-maidah" ><i class="fa fa-angle-double-right"></i> AL-MAIDAH</a></li>
                                    <li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>LAHORI KABAB</a></li>
                                    <li><a  routerLink="/restuarant/Hyderabad%20House" ><i class="fa fa-angle-double-right"></i>Hyderabad House</a></li>
                                    <li><a  routerLink="/restuarant/Wild%20Mirchi" ><i class="fa fa-angle-double-right"></i>Wild Mirchi</a></li>
                                    <li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>Basera Biriyani Grill</a></li>
                                    <li><a  routerLink="/restuarant/Bheemas" ><i class="fa fa-angle-double-right"></i>BHEEMAS</a></li>
                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Restaurants</h1>
                                
                                <ul>
 									                  <li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>RuchiPalace</a></li>
                                    <li><a   routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>chameli</a></li>
                                    <li><a   routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>Manchale</a></li>
                                    <li><a   routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>Ananda Bhavan</a></li>
                                    <li><a   routerLink="/restuarant/Saaina" ><i class="fa fa-angle-double-right"></i>saaina</a></li>
                                    <li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>anjappar</a></li>
                                    <li><a   routerLink="/restuarant/Chennai%20Cafe" ><i class="fa fa-angle-double-right"></i>chennai cafe</a></li>
                                    <li><a   routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>Saregama</a></li>
                                    
                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Restaurants</h1>
                                
                                <ul>


                <li><a href="#"><i class="fa fa-angle-double-right"></i>Saravana Bhavan</a></li>
 				<li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>Maharaja</a></li>
				<li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>Bamboo Garden</a></li>
				<li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>7 Spice</a></li>
				<li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>GRIHA</a></li>
				<li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>palio's</a></li>
        <li><a  routerLink="/restuarant/madurai%20thattu" ><i class="fa fa-angle-double-right"></i>Madurai Thattu</a></li>
				<li><a  routerLink="/restuarant" ><i class="fa fa-angle-double-right"></i>Bombay Chop Stix</a></li>

                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                
                   
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contact Detail </h1>
                                 <div class="col-sm-6 col-md-4">
              <div id="meta-4" class="widget widgetFooter widget_meta">
             

        


              </div>
             </div>
                           
                          
                                
                                <div class="social-icons">
                                
                                	<ul class="nomargin">
                                    
                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                    
                                    </ul>
                                </div>
                    		</li>
                          </ul>
                       </div>
                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="copyright">

					© 2017, MaxoTeam, All rights reserved

				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="design">

					 <a href="#">RebuildDesiDine2Go </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by MaxoTech</a>

				</div>

			</div>

		</div>

	</div>

</div>
</div>
